# Web
fastapi==0.115.0
uvicorn==0.30.6

# ML / CV
insightface==0.7.3
onnxruntime==1.19.2       # CPU; для GPU: onnxruntime-gpu
opencv-python-headless==4.10.0.84
numpy==1.26.4

# Utils
Pillow==10.4.0
python-multipart==0.0.12
